<script type="text/javascript">
  const existingNameErrorCode = +"<%= fns.getErrorCode('EXISTING_MODEL_NAME') %>"
  const tooLargeErrorCode = +"<%= fns.getErrorCode('TOO_LARGE') %>"
  const wrongPassErrorCode = +"<%= fns.getErrorCode('WRONG_PASSWORD') %>"
  const wrongRegexp = new RegExp('<%- fns.getWrongPatterns() %>')
</script>

<!-- Page Content -->
<div class="container-fluid">
  <div class="clearfix">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 float-left">
      <h1 class="h3 mb-0 text-gray-800">Crear nuevo escenario</h1>    
    </div>  <!-- .Page Heading -->
    </a>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/profile/stages">Lista</a></li>
          <li class="breadcrumb-item active" aria-current="page">Crear nuevo escenario</li>
        </ol>
      </nav>
    </div>
  </div>  <!-- .Breadcrumb -->

  <!-- Button -->
  <div class="row mb-3">
    <div class="col-12 col-md-auto">
      <button type="button" id="create-stage-btn" class="btn btn-info btn-block btn-flat" onclick="createStage()">Crear escenario</button>
    </div>
  </div>  <!-- .Button -->

  <!-- Data -->
  <div class="row">
    <!-- Stage Data -->
    <div id="stage-data" class="col-12 col-lg-6 mb-2">
      <!-- Card -->
      <div class="card border-left-success">
        <h5 class="card-header">Datos escenario</h5>
        <!-- Body -->
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="create-stage-name">Nombre</label>
              <input type="text" class="form-control" id="create-stage-name" placeholder="Parque eólico" required>
            </div>
            <div class="form-group">
              <label for="create-stage-id">Identificador</label>
              <input type="text" class="form-control" id="create-stage-id" placeholder="escenario1" required>
            </div>
            <div class="form-group">
              <label for="create-stage-model">Modelos</label>
              <select class="form-control" id="create-stage-model" onchange="checkModel(this.value)" required>
                <option>-- Selecciona --</option>
                <% for (let i in userModels) { %>
                <option><%= userModels[i].name %></option>
                <% } if (!userModels || userModels.length === 0) { %>
                <option>Subir modelo</option>
                <% } %>
              </select>
            </div>
          </form>
        </div>  <!-- .Body -->
      </div>  <!-- .Card -->
    </div>  <!-- .Stage Data -->

    <!-- Model Data -->
    <div id="model-data" class="col-12 col-lg-6 mb-2">
      <!-- Card -->
      <div class="card border-left-info" style="background-color: rgba(0,0,0,0);">
        <h5 class="card-header">Datos modelo</h5>
        <!-- Body -->
        <div class="card-body">
          <!-- .Model -->
          <div id="models-list" class="row model-show">
          </div>  <!-- .Model -->
        </div>  <!-- .Body -->
      </div>  <!-- .Card -->
    </div>  <!-- .Model Data -->

    <!-- Actions Data -->
    <div id="actions-data" class="col-12 col-lg-6 mb-2">
      <!-- Card -->
      <div class="card border-left-warning">
        <h5 class="card-header">Datos de acciones</h5>
        <!-- Body -->
        <div class="card-body">

        </div>  <!-- .Body -->
      </div>  <!-- .Card -->
    </div>  <!-- .Actions Data -->

  </div>   <!-- .Data -->
</div>  <!-- .Page Content -->

<!-- Upload modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="upload-modal-label">Subir fichero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  <!-- .Modal header -->

      <!-- Modal body -->
      <div class="modal-body">
        <form id="upload-form">
          <div class="form-group">
            <label for="model-name">Nombre</label>
            <input type="text" class="form-control" id="model-name" name="model-name">
            <div class="form-group-error" data-err="Se debe rellenar el nombre del fichero"><small class="form-text text-danger"></small></div>
          </div>
          <div class="form-group">
            <label for="model-file">Fichero glb</label>
            <input type="file" class="form-control-file" id="model-file" name="model-file" accept=".glb">
            <div class="form-group-error" data-err="Se debe proporcionar un fichero"><small class="form-text text-danger"></small></div>
          </div>
        </form>
      </div>   <!-- .Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="upload-btn" type="submit" class="btn btn-primary" onclick="uploadFile()">Subir</button>
      </div>  <!-- .Modal footer -->
    </div>
  </div>
</div>  <!-- .Upload modal -->

<!-- Three JS -->
<script type="text/javascript" src="/components/three/build/three.min.js"></script>
<script type="text/javascript" src="/components/three/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="/components/three/examples/js/WebGL.js"></script>
<script type="text/javascript" src="/components/three/examples/js/loaders/GLTFLoader.js"></script>
<script type="text/javascript" src="/components/three/examples/js/geometries/BoxLineGeometry.js"></script>

<script id="template" type="notjs">
  <div id="$name" class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="model-body"></div>
</script>

<script id="template-edit" type="notjs">
  <!-- Edit -->
  <div id="edit-model-stage" class="col-12 col-lg-4">
    <!-- Scale -->
    <div class="row mb-1">
      <div class="col-12">
        <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
          <span class="text text-white w-100">Escalar</span>
          <span id="minus-scale" class="icon text-white-50 w-100">
            <i class="fas fa-minus"></i>
          </span>
          <span id="plus-scale" class="icon text-white-50 w-100">
            <i class="fas fa-plus"></i>
          </span>
        </a>
      </div>
    </div>  <!-- Scale -->

    <!-- RotateX -->
    <div class="row mb-1">
      <div class="col-12">
        <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
          <span class="text text-white w-100">RotarX</span>
          <span id="minus-rotate-x" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span id="plus-rotate-x" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>  <!-- .RotateX -->

    <!-- RotateY -->
    <div class="row mb-1">
      <div class="col-12">
        <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
          <span class="text text-white w-100">RotarY</span>
          <span id="minus-rotate-y" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span id="plus-rotate-y" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>  <!-- .RotateY -->

    <!-- RotateZ -->
    <div class="row mb-1">
      <div class="col-12">
        <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
          <span class="text text-white w-100">RotarZ</span>
          <span id="minus-rotate-z" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-left"></i>
          </span>
          <span id="plus-rotate-z" class="icon text-white-50 w-100">
            <i class="fas fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>  <!-- .RotateZ -->
  </div>  <!-- .Edit -->
</script>

<!-- Custom JS -->
<script type="text/javascript" src="/javascripts/models.js"></script>
<script type="text/javascript" src="/javascripts/showModels.js"></script>
<script type="text/javascript" src="/javascripts/stages.js"></script>

<script type="text/javascript">
  $('#upload-modal').on('hidden.bs.modal', function(e) {
      location.reload()
  })

  const checkModel = async function(value) {
      value = value || $('#create-stage-model').val()
      if (value === 'Subir modelo') {
          $('#models-list')[0].innerHTML = ''
          $('#upload-modal').modal('show')
      } else if (value === '-- Selecciona --') {
          $('#models-list')[0].innerHTML = ''
      } else {
          await showModelByName(value, 'model-data')
          showEditOptions()
          showAnimationsOptions(value)
      }
  }

  const showAnimationsOptions = function(name) {
      let animations
      let animationTimer = setInterval(function() {
          animations = getAnimations(name)[1]
          let modelName = getAnimations(name)[0]
          if (name === modelName) {
              clearInterval(animationTimer)
              let container = $('#actions-data .card-body')[0]
              container.innerHTML = animations.map((animation) => `<p>${animation}</p>`).join('')
          }
      }, 100)
  }

  const showEditOptions = function() {
      let editOptions = document.getElementById('template-edit').text
      $('#models-list').append(editOptions)

      // Rotate X
      let btnRotateXMinus = $('#minus-rotate-x')
      let btnRotateXPlus = $('#plus-rotate-x')
      // Rotate Y
      let btnRotateYMinus = $('#minus-rotate-y')
      let btnRotateYPlus = $('#plus-rotate-y')
      // Rotate Z
      let btnRotateZMinus = $('#minus-rotate-z')
      let btnRotateZPlus = $('#plus-rotate-z')
      // Scale
      let btnScaleMinus = $('#minus-scale')
      let btnScalePlus = $('#plus-scale')

      let timer = null

      // Rotate X

      btnRotateXMinus.on('mousedown', function() {
          rotate('-', 'x')
          timer = setInterval(function() {
              rotate('-', 'x')
          }, 100)
      })

      btnRotateXMinus.on('mouseup', function() {
          clearInterval(timer)
      })

      btnRotateXPlus.on('mousedown', function() {
          rotate('+', 'x')
          timer = setInterval(function() {
              rotate('+', 'x')
          }, 100)
      })

      btnRotateXPlus.on('mouseup', function() {
          clearInterval(timer)
      })

      // Rotate Y

      btnRotateYMinus.on('mousedown', function() {
          rotate('-', 'y')
          timer = setInterval(function() {
              rotate('-', 'y')
          }, 100)
      })

      btnRotateYMinus.on('mouseup', function() {
          clearInterval(timer)
      })

      btnRotateYPlus.on('mousedown', function() {
          rotate('+', 'y')
          timer = setInterval(function() {
              rotate('+', 'y')
          }, 100)
      })

      btnRotateYPlus.on('mouseup', function() {
          clearInterval(timer)
      })

      // Rotate Z

      btnRotateZMinus.on('mousedown', function() {
          rotate('-', 'z')
          timer = setInterval(function() {
              rotate('-', 'z')
          }, 100)
      })

      btnRotateZMinus.on('mouseup', function() {
          clearInterval(timer)
      })

      btnRotateZPlus.on('mousedown', function() {
          rotate('+', 'z')
          timer = setInterval(function() {
              rotate('+', 'z')
          }, 100)
      })

      btnRotateZPlus.on('mouseup', function() {
          clearInterval(timer)
      })

      // Scale

      btnScaleMinus.on('mousedown', function() {
          scale('-')
          timer = setInterval(function() {
              scale('-')
          }, 100)
      })

      btnScaleMinus.on('mouseup', function() {
          clearInterval(timer)
      })

      btnScalePlus.on('mousedown', function() {
          scale('+')
          timer = setInterval(function() {
              scale('+')
          }, 100)
      })

      btnScalePlus.on('mouseup', function() {
          clearInterval(timer)
      })
  }

  $(function() {
      checkModel()
  })
</script>
