<script type="text/javascript">
  const existingNameErrorCode = +"<%= fns.getErrorCode('EXISTING_MODEL_NAME') %>"
  const wrongPassErrorCode = +"<%= fns.getErrorCode('WRONG_PASSWORD') %>"
</script>

<!-- Page Content -->
<div class="container-fluid">
  <div class="clearfix">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 float-left">
      <h1 class="h3 mb-0 text-gray-800"><%= stage.name %></h1>    
    </div>  <!-- .Page Heading -->

    <a href="" class="d-none d-sm-inline-block btn btn-sm float-right btn-danger shadow-sm btn-icon-split ml-2 delete" data-toggle="modal" data-target="#delete-modal">
      <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
      </span>
      <span class="text">Borrar <%= stage.name %></span>
    </a>
    <a href="/profile/stages/<%= stage.id_str %>?edit" class="d-none d-sm-inline-block btn btn-sm float-right btn-success shadow-sm btn-icon-split ml-2 edit">
      <span class="icon text-white-50">
        <i class="fas fa-edit"></i>
      </span>
      <span class="text">Editar <%= stage.name %></span>
    </a>
  </div>

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/profile/stages">Lista</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= stage.name %></li>
        </ol>
      </nav>
    </div>
  </div>  <!-- .Breadcrumb -->

  <div class="row">
    <!-- Edit -->
    <div id="edit-model" class="col-12 col-md-6 col-lg-4 col-xl-2" hidden>
      <!-- Card -->
      <div class="card mb-4" style="background-color: rgba(0, 0, 0, 0);">
        <!-- Header -->
        <div class="card-header py-3 clearfix">
          <h6 class="m-0 font-weight-bold text-primary float-left">Editar</h6>
          <a class="float-right" href="/profile/stages/<%= stage.id_str %>"><i class="fas fa-times"></i></a>
        </div>  <!-- .Header -->

        <!-- Body -->
        <div class="card-body">
          <!-- Scale -->
          <div class="row mb-1">
            <div class="col-12">
              <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
                <span class="text text-white w-100">Escalar</span>
                <span id="minus-scale" class="icon text-white-50 w-100">
                  <i class="fas fa-minus"></i>
                </span>
                <span id="plus-scale" class="icon text-white-50 w-100">
                  <i class="fas fa-plus"></i>
                </span>
              </a>
            </div>
          </div>  <!-- .Scale -->

          <!-- RotateX -->
          <div class="row mb-1">
            <div class="col-12">
              <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
                <span class="text text-white w-100">RotarX</span>
                <span id="minus-rotate-x" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span id="plus-rotate-x" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>  <!-- .RotateX -->

          <!-- RotateY -->
          <div class="row mb-1">
            <div class="col-12">
              <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
                <span class="text text-white w-100">RotarY</span>
                <span id="minus-rotate-y" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span id="plus-rotate-y" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>  <!-- .RotateY -->

          <!-- RotateZ -->
          <div class="row mb-1">
            <div class="col-12">
              <a class="btn btn-sm btn-info shadow-sm btn-icon-split w-100">
                <span class="text text-white w-100">RotarZ</span>
                <span id="minus-rotate-z" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span id="plus-rotate-z" class="icon text-white-50 w-100">
                  <i class="fas fa-arrow-right"></i>
                </span>
              </a>
            </div>
          </div>  <!-- .RotateZ -->
        </div>  <!-- .Body -->
      </div>  <!-- .Card -->
    </div>  <!-- .Edit -->    
  </div>

  <!-- .Model -->
  <div id="models-list" class="row model-show">
  </div>  <!-- .Model -->

  <!-- Buttons -->
  <div class="row">
    <div class="col-6 col-lg-4 col-xl-auto">
      <button id="vr-btn" type="button" class="btn btn-info btn-block btn-flat" onclick="showVR()" hidden>
        Modo VR
        <i class="fas fa-vr-cardboard"></i>
      </button>
      <button id="normal-btn" type="button" class="btn btn-info btn-block btn-flat" onclick="showNormal()" hidden>
        Modo normal
        <i class="fas fa-chalkboard"></i>
      </button>
    </div>
    <div class="col-6 col-lg-4 col-xl-auto">
      <button id="ar-btn" type="button" class="btn btn-success btn-block btn-flat" onclick="showAR()">
        Modo AR
        <i class="fas fa-cube"></i>
      </button>
    </div>
  </div>
  <!-- .Buttons -->
</div>  <!-- .Page Content -->

<!-- Delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Borrar <%= stage.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  <!-- .Modal header -->

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Alert -->
        <div id="delete-alert" class="alert alert-danger border-bottom-danger text-center fade show" role="alert" hidden></div>   <!-- .Alert -->
        Esta acción no se puede deshacer. ¿Borrar de todas formas?  
        <form id="delete-form" class="mt-3">     
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="delete-name" name="delete-name" value="<%= stage.id_str %>" hidden>
            <label for="delete-password" class="sr-only">Contraseña</label>
            <input type="password" class="form-control" id="delete-password" name="delete-password" placeholder="Contraseña">
            <div class="form-group-error"><small class="form-text text-danger"></small></div>
          </div>
        </form>
      </div>  <!-- .Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="delete-btn" type="submit" class="btn btn-primary" onclick="deleteStage('<%= stage.id_str %>')">Borrar</button>
      </div>  <!-- .Modal footer -->
    </div>
  </div>
</div>  <!-- .Delete modal -->

<script type="text/javascript">
  $('#delete-modal').on('shown.bs.modal', function(event) {
    $('input#delete-password').focus()
  })
</script>

<!-- WebSockets -->
<script type="text/javascript" src="/components/socket.io-client/dist/socket.io.js"></script>

<!-- Three JS -->
<script type="text/javascript" src="/components/three/build/three.min.js"></script>
<script type="text/javascript" src="/components/three/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="/components/three/examples/js/WebGL.js"></script>
<script type="text/javascript" src="/components/three/examples/js/libs/inflate.min.js"></script>
<script type="text/javascript" src="/components/three/examples/js/loaders/GLTFLoader.js"></script>
<script type="text/javascript" src="/components/three/examples/js/loaders/FBXLoader.js"></script>
<script type="text/javascript" src="/components/three/examples/js/vr/WebVR.js"></script>
<script type="text/javascript" src="/components/three/examples/js/geometries/BoxLineGeometry.js"></script>
<script type="text/javascript" src="/components/ar.js/three.js/build/ar.js"></script>

<script id="template" type="notjs">
  <div id="$name" class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="model-body"></div>
</script>

<!-- Custom JS -->
<script type="text/javascript" src="/javascripts/models.js"></script>
<script type="text/javascript" src="/javascripts/showModels.js"></script>
<script type="text/javascript" src="/javascripts/vrModel.js"></script>
<script type="text/javascript" src="/javascripts/arModel.js"></script>

<script type="text/javascript">
    // Get parameters from an Url
    const getUrlParams = function() {
        let url = window.location.href
        let parts = url.split('?')
        if(parts.length < 2) {
            return []
        }
        return parts[1].split('&').reduce(function(previous, current) {
            let param = current.split('=')
            previous[param[0]] = param[1]
            return previous
        }, {})
    }

    // Show AR mode
    const showAR = function() {
        document.body.innerHTML = ''
        rotateModel = false
        showARModel('<%- JSON.stringify(stage.model) %>', '<%- JSON.stringify(stage.actions) %>', '<%- JSON.stringify(stage.data) %>', '<%= stage.id_str %>')
    }

    // Show normal mode
    const showNormal = function() {
        showModel('<%- JSON.stringify(stage.model) %>', 'model-show', '<%- JSON.stringify(stage.actions) %>', '<%- JSON.stringify(stage.data) %>', '<%= stage.id_str %>')
        $('button#normal-btn')[0].hidden = true
        $('button#vr-btn')[0].hidden = false
    }

    // Show VR mode
    const showVR = function() {
        showVRModel('<%- JSON.stringify(stage.model) %>', '<%- JSON.stringify(stage.actions) %>', '<%- JSON.stringify(stage.data) %>', '<%= stage.id_str %>')
        $('button#normal-btn')[0].hidden = false
        $('button#vr-btn')[0].hidden = true
    }

    $(function() {
        // Rotate X
        let btnRotateXMinus = $('#minus-rotate-x')
        let btnRotateXPlus = $('#plus-rotate-x')
        // Rotate Y
        let btnRotateYMinus = $('#minus-rotate-y')
        let btnRotateYPlus = $('#plus-rotate-y')
        // Rotate Z
        let btnRotateZMinus = $('#minus-rotate-z')
        let btnRotateZPlus = $('#plus-rotate-z')
        // Scale
        let btnScaleMinus = $('#minus-scale')
        let btnScalePlus = $('#plus-scale')

        let timer = null

        // Rotate X

        btnRotateXMinus.on('mousedown', function() {
            rotate('-', 'x')
            timer = setInterval(function() {
                rotate('-', 'x')
            }, 100)
        })

        btnRotateXMinus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        btnRotateXPlus.on('mousedown', function() {
            rotate('+', 'x')
            timer = setInterval(function() {
                rotate('+', 'x')
            }, 100)
        })

        btnRotateXPlus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        // Rotate Y

        btnRotateYMinus.on('mousedown', function() {
            rotate('-', 'y')
            timer = setInterval(function() {
                rotate('-', 'y')
            }, 100)
        })

        btnRotateYMinus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        btnRotateYPlus.on('mousedown', function() {
            rotate('+', 'y')
            timer = setInterval(function() {
                rotate('+', 'y')
            }, 100)
        })

        btnRotateYPlus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        // Rotate Z

        btnRotateZMinus.on('mousedown', function() {
            rotate('-', 'z')
            timer = setInterval(function() {
                rotate('-', 'z')
            }, 100)
        })

        btnRotateZMinus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        btnRotateZPlus.on('mousedown', function() {
            rotate('+', 'z')
            timer = setInterval(function() {
                rotate('+', 'z')
            }, 100)
        })

        btnRotateZPlus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        // Scale

        btnScaleMinus.on('mousedown', function() {
            scale('-')
            timer = setInterval(function() {
                scale('-')
            }, 100)
        })

        btnScaleMinus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        btnScalePlus.on('mousedown', function() {
            scale('+')
            timer = setInterval(function() {
                scale('+')
            }, 100)
        })

        btnScalePlus.on('mouseup', function() {
            clearInterval(timer)
            sendNewData(/*' model.name '*/)
        })

        // Show model
        if (navigator.getVRDisplays)
            $('button#vr-btn')[0].hidden = false
        else
            $('button#vr-btn')[0].hidden = true

        showModel('<%- JSON.stringify(stage.model) %>', 'model-show', '<%- JSON.stringify(stage.actions) %>', '<%- JSON.stringify(stage.data) %>', '<%= stage.id_str %>')

        // Show edit buttons
        if (Object.keys(getUrlParams()).indexOf('edit') !== -1)
            $('#edit-model')[0].hidden = false
        else
            $('#edit-model')[0].hidden = true
          
        let socket = io.connect(baseUrl)
        socket.on('<%= user.username %>/<%= stage.id_str %>', function (data) {
            let {name, status} = data.action
            stageActions[name](status)
        })
    })
</script>