<script type="text/javascript">
  const existingNameErrorCode = +"<%= fns.getErrorCode('EXISTING_MODEL_NAME') %>"
  const wrongPassErrorCode = +"<%= fns.getErrorCode('WRONG_PASSWORD') %>"
</script>

<!-- Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= model.name %></h1>
    <a href="" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm btn-icon-split" data-toggle="modal" data-target="#delete-modal">
      <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
      </span>
      <span class="text">Borrar <%= model.name %></span>
    </a>
  </div>  <!-- .Page Heading -->

  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/profile/models">Modelos 3D</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= model.name %></li>
        </ol>
      </nav>
    </div>
  </div>  <!-- .Breadcrumb -->

  <!-- Model -->
  <div class="row"><div id="model-content" class="col-12">
  </div></div>
  <!-- .Model -->

  <!-- Buttons -->
  <div class="row">
    <div class="col-6 col-lg-4 col-xl-auto">
      <button id="vr-btn" type="button" class="btn btn-info btn-block btn-flat" hidden><i class="fas fa-vr-cardboard"></i></button>
    </div>
  </div>
  <!-- .Buttons -->
</div>  <!-- .container-fluid -->

<!-- Delete modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar <%= model.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  <!-- .Modal header -->

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Alert -->
        <div id="delete-alert" class="alert alert-danger border-bottom-danger text-center fade show" role="alert" hidden></div>   <!-- .Alert -->
        Esta acción no se puede deshacer. ¿Borrar de todas formas?  
        <form id="delete-form" class="mt-3">     
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="delete-name" name="delete-name" value="<%= model.name %>" hidden>
            <input type="text" id="delete-extension" name="delete-extension" value="<%= model.ext %>" hidden>
            <label for="delete-password" class="sr-only">Contraseña</label>
            <input type="password" class="form-control" id="delete-password" name="delete-password" placeholder="Contraseña">
            <div class="form-group-error"><small class="form-text text-danger"></small></div>
          </div>
        </form>
      </div>  <!-- .Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="delete-btn" type="submit" class="btn btn-primary" onclick="deleteModel('<%= model.name %>')">Borrar</button>
      </div>  <!-- .Modal footer -->
    </div>
  </div>
</div>  <!-- .Delete modal -->

<!-- Three JS -->
<script type="text/javascript" src="/components/three/build/three.min.js"></script>
<script type="text/javascript" src="/components/three/examples/js/controls/OrbitControls.js"></script>
<script type="text/javascript" src="/components/three/examples/js/WebGL.js"></script>
<script type="text/javascript" src="/components/three/examples/js/loaders/GLTFLoader.js"></script>
<script type="text/javascript" src="/components/three/examples/js/vr/WebVR.js"></script>
<script type="text/javascript" src="/components/three/examples/js/geometries/BoxLineGeometry.js"></script>

<!-- Crypto -->
<script type="text/javascript" src="/components/crypto-js/crypto-js.js"></script>

<!-- Custom JS -->
<script type="text/javascript" src="/javascripts/models.js"></script>
<script type="text/javascript" src="/javascripts/showModel.js"></script>
<script type="text/javascript">
    $(function() {
        if (navigator.getVRDisplays) {
            $('button#vr-btn')[0].hidden = false
            showModel('<%= JSON.stringify(model) %>', true)
        } else {
           $('button#vr-btn')[0].hidden = true
            showModel('<%= JSON.stringify(model) %>', false)
        }
    })
</script>