<script type="text/javascript">
  const existingUsernameErrorCode = +"<%= fns.getErrorCode('EXISTING_USERNAME') %>"
  const existingEmailErrorCode = +"<%= fns.getErrorCode('EXISTING_EMAIL') %>"
  const wrongPassErrorCode = +"<%= fns.getErrorCode('WRONG_PASSWORD') %>"
</script>

<!-- Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Configuración</h1>
  </div>  <!-- .Page Heading -->

  <!-- Main content -->
  <div class="row">
    <!-- Edit user -->
    <div class="col-12 col-md-6">
      <!-- Form -->
      <form id="edit-form" class="user" action="javascript:void(0);">
        <div class="card shadow mb-4">
          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Editar usuario</h6>
          </div>  <!-- .Card Header -->

          <!-- Card Body -->
          <div class="card-body text-primary">
            <!-- Alert -->
            <div id="edit-alert" class="alert text-center fade show" role="alert" hidden></div>   <!-- .Alert -->

            <input id="user-id" name="user-id" value="<%= user._id %>" hidden>

            <!-- Username -->
            <div class="form-group has-feedback">
              <label for="edit-username"><i class="fas fa-user"></i> Username</label>
              <input type="text" id="edit-username" name="edit-username" class="form-control" value="<%= user.username %>">
              <div class="form-group-error" data-err="El nombre de usuario no puede contener espacios ni caracteres especiales"><small class="form-text text-danger"></small></div>
              <input id="edit-username-old" value="<%= user.username %>" hidden>
            </div>  <!-- .Username -->

            <!-- email -->
            <div class="form-group has-feedback">
              <label for="edit-email"><i class="fas fa-at"></i> Email</label>
              <input type="email" id="edit-email" name="edit-email" class="form-control" value="<%= user.email %>">
              <div class="form-group-error" data-err="Formato incorrecto"><small class="form-text text-danger"></small></div>
              <input id="edit-email-old" value="<%= user.email %>" hidden>
            </div>  <!-- .email -->

            <div id="passwords" hidden>
              <!-- Old password -->
              <div class="form-group has-feedback">
                <label for="edit-old-password"><i class="fas fa-lock"></i> Contraseña antigua</label>
                <input type="password" id="edit-old-password" name="edit-old-password" class="form-control" placeholder="Contraseña antigua" value="">
                <div class="form-group-error" data-err=""><small class="form-text text-danger"></small></div>
              </div>  <!-- .Old password -->

              <!-- New password -->
              <div class="form-group has-feedback">
                <label for="edit-new-password"><i class="fas fa-lock"></i> Contraseña nueva</label>
                <input type="password" id="edit-new-password" name="edit-new-password" class="form-control" placeholder="Contraseña nueva" value="">
                <div class="form-group-error" data-err="Las contraseñas deben ser igual"><small class="form-text text-danger"></small></div>
              </div>  <!-- .New password -->

              <!-- Repeat new password -->
              <div class="form-group has-feedback">
                <label for="edit-new-password-repeat"><i class="fas fa-lock"></i> Repetir contraseña nueva</label>
                <input type="password" id="edit-new-password-repeat" name="edit-new-password-repeat" class="form-control" placeholder="Repetir contraseña nueva" value="">
                <div class="form-group-error" data-err="Las contraseñas deben ser igual"><small class="form-text text-danger"></small></div>
              </div>  <!-- .Repeat new password -->
            </div>

            <!-- Button passwords -->
            <div class="row mb-1 float-md-right">
              <div class="col-12 col-md-auto">
                <button id="show-passwords-btn" class="btn btn-success btn-block btn-flat" onclick="showPasswords()">Cambiar contraseña</button>
              </div>
            </div>  <!-- .Button passwords -->

            <!-- Button edit -->
            <div class="row mb-1 float-md-left">
              <div class="col-12 col-md-auto">
                <button type="submit" id="edit-btn" class="btn btn-primary btn-block btn-flat" onclick="editUser()">Enviar nuevos valores</button>
              </div>
            </div>  <!-- .Button edit -->
          </div>  <!-- .Card Body -->
        </div>
      </form>  <!-- .Form -->
    </div>  <!-- .Edit user -->

    <!-- Delete user -->
    <div class="col-12 col-md-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-danger">Borrar usuario</h6>
        </div>  <!-- .Card Header -->

        <!-- Card Body -->
        <div class="card-body text-danger">
          <div class="row">
            <div class="col-12 col-md-auto">
              <button id="show-delete-modal" class="btn btn-block btn-danger mb-2" data-toggle="modal" data-target="#delete-modal">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                &nbsp;Borrar usuario
              </button>
            </div>
          </div>
        </div>  <!-- .Card Body -->
      </div>
    </div>  <!-- .Delete user -->
  </div>  <!-- .Main content -->
</div>  <!-- .Page Content -->

<script type="text/javascript" src="/components/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="/javascripts/conf.js"></script>

<!-- Delete modal -->
<div class="modal fade col-12" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  <!-- .Modal header -->

      <!-- Modal body -->
      <div class="modal-body">
        <!-- Alert -->
        <div id="delete-alert" class="alert text-center fade show" role="alert" hidden></div>   <!-- .Alert -->
        Esta acción no se puede deshacer. ¿Borrar de todas formas?  
        <form id="delete-form" class="mt-3">     
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="delete-username" name="delete-username" value="<%= user.username %>" hidden>
            <label for="delete-password" class="sr-only">Contraseña</label>
            <input type="password" class="form-control" id="delete-password" name="delete-password" placeholder="Contraseña">
            <div class="form-group-error"><small class="form-text text-danger"></small></div>
          </div>
        </form>
      </div>  <!-- .Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button id="delete-btn" type="button" class="btn btn-danger" onclick="deleteUser()">Borrar usuario</button>
      </div>  <!-- .Modal footer -->
    </div>  <!-- .Modal content -->
  </div>
</div>  <!-- .Delete modal -->
